.App {

  .lives-left {
    font-size: 50px;
  }

  .numbers-guessed {
    font-size: 50px;
  }
  .user-guess { 
    input {
      height: 100px;
      width: 120px;
      font-size: 75px;
      display: block;
      margin: auto;
    }
  }

  .confirm-guess {
    font-size: 50px;

    button {
      width: 120px;
      font-size: 30px;
      display: block;
      margin: auto;

      &:hover {
        cursor: pointer;
        background-color: blue;
        color: white;
      }
    }
  }

}
